---
layout: page
permalink: /tags/index.html
title: Tag Index
description: "An archive of posts sorted by tag."
---

<ul class="tag-box inline">
{% assign tags_list = site.tags %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
    <li><a href="{{ site.url }}/tag/{{ tag | replace:' ','-' | downcase }}" data-tag="{{tag}}">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
    <li><a href="{{ site.url }}/tag/{{ tag[0] | replace:' ','-' | downcase }}" data-tag="{{tag[0]}}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>

<ul class="post-list">
{% for post in site.categories.articles %} 
<li class="hidden"><article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" {% for tag in post.tags%} data-tag-{{tag}}{% endfor %} ><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
{% endfor %}
</ul>
