<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52aadb5c3b6ff852"></script>
<script type="text/javascript">
addthis.layers({
  'theme' : 'transparent',
  'domain' : 'www.haoch.me',
  'share' : {
    'position' : 'left',
    'numPreferredServices' : 6,
    'offset':{
      'top':'25%'
    },
    'services':'twitter,sinaweibo,facebook,google_plusone_share,email,more'
  }, 
  'follow' : {
    'services' : [
      {'service': 'sinaweibo', 'id': 'Hochn'},
      {'service': 'twitter', 'id': 'HChen7'},
      {'service': 'facebook', 'id': 'haochencn'},
      {'service': 'linkedin', 'id': 'ihaochen'},
      {'service': 'google_follow', 'id': '103688232748743092549'},
      {'service': 'rss', 'id': 'http://haoch.me/feed.xml'}
    ]
  },  
  'whatsnext' : {},  
  'recommended' : {} 
});
addthis.box("#addthis_trendingcontent", {
    feed_title : "Trending",
    feed_type : "trending",
    feed_period : "month",
    num_links : 5,
    height : "auto",
   width : "auto"});
</script>
<!-- AddThis Smart Layers END -->
