<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52aadb5c3b6ff852"></script>
<script type="text/javascript">
addthis.layers({
  'theme' : 'transparent',
  'domain' : 'www.haoch.me',
  'share' : {
    'position' : 'left',
    'numPreferredServices' : 6,
    'offset':{
      'top':'25%'
    },
    'services':'twitter,sinaweibo,facebook,google_plusone_share,email,more'
  }, 
  'follow' : {
    'services' : [
      {'service': 'sinaweibo', 'id': 'Hochn'},
      {'service': 'twitter', 'id': 'HChen7'},
      {'service': 'facebook', 'id': 'haochencn'},
      {'service': 'linkedin', 'id': 'ihaochen'},
      {'service': 'google_follow', 'id': '103688232748743092549'},
      {'service': 'rss', 'id': 'http://haoch.me/feed.xml'}
    ]
  },  
  'whatsnext' : {},  
  'recommended' : {} 
});
addthis.box("#addthis_trendingcontent", {
    feed_title : "Trending",
    feed_type : "trending",
    feed_period : "month",
    num_links : 5,
    height : "auto",
   width : "auto"});
</script>
<!-- AddThis Smart Layers END -->

<!-- AddThis Welcome BEGIN -->
<script type='text/javascript'>
addthis.bar.initialize({'default':{
	"backgroundColor": "#000000",
	"buttonColor": "#098DF4",
	"textColor": "#FFFFFF",
	"buttonTextColor": "#FFFFFF"
},rules:[
	{
		"name": "Twitter",
		"match": {
			"referringService": "twitter"
		},
		"message": "If you find this page helpful:",
		"action": {
			"type": "button",
			"text": "Tweet it!",
			"verb": "share",
			"service": "twitter"
		}
	},
	{
		"name": "Facebook",
		"match": {
			"referringService": "facebook"
		},
		"message": "Tell your friends about us:",
		"action": {
			"type": "button",
			"text": "Share on Facebook",
			"verb": "share",
			"service": "facebook"
		}
	},
	{
		"name": "Google",
		"match": {
			"referrer": "google.com"
		},
		"message": "If you like this page, let Google know:",
		"action": {
			"type": "button",
			"text": "+1",
			"verb": "share",
			"service": "google_plusone_share"
		}
	},
	{
		"name": "sinaweibo",
		"match": {
			"referringService": "sinaweibo"
		},
		"message": "If you enjoy this page, do us a favor:",
		"action": {
			"type": "button",
			"text": "Post on Sina Weibo",
			"verb": "share",
			"service": "sinaweibo"
		}
	},
	{
		"name": "linkedin",
		"match": {
			"referringService": "linkedin"
		},
		"message": "If you enjoy this page, do us a favor:",
		"action": {
			"type": "button",
			"text": "Post on LinkedIn",
			"verb": "share",
			"service": "linkedin"
		}
	},
	{
		"name": "baidu",
		"match": {
			"referringService": "baidu"
		},
		"message": "If you enjoy this page, do us a favor:",
		"action": {
			"type": "button",
			"text": "Post on Baidu",
			"verb": "share",
			"service": "baidu"
		}
	},
	{
		"name": "qzone",
		"match": {
			"referringService": "qzone"
		},
		"message": "If you enjoy this page, do us a favor:",
		"action": {
			"type": "button",
			"text": "Post on Qzone",
			"verb": "share",
			"service": "qzone"
		}
	}
]});
</script>
<!-- AddThis Welcome END -->
