{% include browser-upgrade.html %}
<div class="site-header">
	<div class="masthead-wrapper">
		<header id="masthead" itemscope itemtype="http://schema.org/Organization">
			<!--
			<a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}" itemprop="url">
				<img src="{{ site.url }}/images/{{ site.logo }}" width="50" height="50" alt="{{ site.title }} logo" itemprop="logo">
			</a>
			-->

			<span class="site-title with-logo">					
				<img src="{{ site.url }}/images/apple-touch-icon-57x57-precomposed.png" class="image-rounded"/>
				<a href="{{ site.url }}">{{ site.title }}</a>
				<span class="bio">{{site.tagline}}</span>
			</span>
		</header><!-- /.masthead -->
		<nav role="navigation" id="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
		    <ul>
		        {% for link in site.links %}
				<li><a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
		        {% endfor %}
		        <li>
		        	<a href="#"> Social </a>
        	        <ul class="dropdown-menu social-icons">	
        	        	<li>
        	        	<span>Your may find me by :</span>
        	        	</li>
			            {% if site.owner.twitter %}
			            <li><a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="icon-twitter icon-1x"></i></a></li>{% endif %}
			            {% if site.owner.facebook %}
			            <li><a href="http://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank"><i class="icon-facebook icon-1x"></i></a></li>{% endif %}
			            {% if site.owner.google_plus %}
			            <li><a href="{{ site.owner.google_plus }}" title="{{ site.owner.name}} on Google+" target="_blank"><i class="icon-google-plus icon-1x"></i></a></li>{% endif %}
			            {% if site.owner.linkedin %}
			            <li><a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="icon-linkedin icon-1x"></i></a></li>{% endif %}
			            {% if site.owner.instagram %}
			            <li><a href="http://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank"><i class="icon-instagram icon-1x"></i></a></li>{% endif %}
			            {% if site.owner.github %}
			            <li><a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="icon-github icon-1x"></i></a></li>{% endif %}
			            {% if site.owner.tumblr %}
			            <li><a href="http://{{ site.owner.tumblr }}.tumblr.com" title="{{ site.owner.name}} on Tumblr" target="_blank"><i class="icon-tumblr icon-1x"></i></a>{% endif %}
			            <li><a href="http://feeds.feedburner.com/MadeMistakes" title="Atom/RSS feed"><i class="icon-rss icon-1x"></i></a></li>
			        	</li>
			        	<li class="close-btn"><a title="close" href="#remove"><i class="icon-remove"></i> </a></li>
			        </ul><!-- /.social-icons -->
		        </li>
		    </ul>
		</nav>
	</div><!-- /.entry-wrapper -->
</div><!-- /.entry-header -->