---
nav_logo:true
---
<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page" itemscope itemtype="http://schema.org/WebPage">

{% include navigation.html%}

<div id="main" role="main" itemprop="mainContentOfPage">

  <article class="entry portf"  itemscope itemtype="http://schema.org/Blog" id="intro">
    <div class="entry-wrapper">
      <aside class="center-me">
        <img src="/images/{{site.owner.avatar}}" alt="{{site.owner.name}} it's a pleasure."  border="0" itemprop="image" class="image-rounded">
        <div class="intro">
           <p></p><h1 class="fitt">Hi, I'm {{site.owner.name}}</h1><p></p>
           <p></p><h3 class="fitt2 bio">I'm a {{site.owner.bio}}.</h3><p></p>
           <h3 class="bio">you can reach me by leaving message or social sites</h3>
          <p class="social-icons-1x">
                  
                  {% if site.owner.github %}
                  <a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="icon-github icon-1x"></i></a>
                  {% endif %}
                  {% if site.owner.linkedin %}
                  <a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="icon-linkedin icon-1x"></i></a>
                  {% endif %}
                  {% if site.owner.weibo %}
                  <a href="http://weibo.com/{{ site.owner.weibo }}" title="{{ site.owner.name}} on Weibo" target="_blank"><i class="icon-weibo icon-1x"></i></a>
                  {% endif %}
                  {% if site.owner.twitter %}
                  <a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="icon-twitter icon-1x"></i></a>
                  {% endif %}
                  {% if site.owner.facebook %}
                  <a href="http://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank"><i class="icon-facebook icon-1x"></i></a>
                  {% endif %}
                  {% if site.owner.google_plus %}
                  <a href="{{ site.owner.google_plus }}" title="{{ site.owner.name}} on Google+" target="_blank"><i class="icon-google-plus icon-1x"></i></a>
                  {% endif %}
                  {% if site.owner.instagram %}
                  <a href="http://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank"><i class="icon-instagram icon-1x"></i></a>
                  {% endif %}
                  {% if site.owner.tumblr %}
                  <a href="http://{{ site.owner.tumblr }}.tumblr.com" title="{{ site.owner.name}} on Tumblr" target="_blank"><i class="icon-tumblr icon-1x"></i></a>
                  {% endif %}

              </p><!-- /.social-icons -->
        </div>
       </aside>
       <a class="arrow" id="latest_articles_arrow" href="#latest_articles"><i class="icon-arrow-down"></i></a>
    </div>
  </article>
  {% comment %}
  <article class="entry portf" itemscope itemtype="http://schema.org/Blog" style="border-bottom-width:0;">
      <div class="work-content">
        {% for post in site.posts %}
          {% if post.homepage %}<div class="project-wrap" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"><a href="{{ site.url }}{{ post.url }}">
            <figure class="project-tease">
            <img src="/images/{{ post.image.homepage }}" alt="{{ post.title }} teaser" border="0" itemprop="image" {% if post.image.circle %}class="image-rounded"{% endif %}>
            <figcaption>
              <div class="figcaption-wrap">
                  <h3 itemprop="name">{% if post.short-title %}{{ post.short-title }}{% else %}{{ post.title }}{% endif %}</h3>
              </div><!-- /.figcaption-wrap -->
            </figcaption>
          </figure></a></div><!-- /.projet-wrap -->{% endif %}
        {% endfor %}
      </div><!-- /.entry-content -->
  </article>
  {% endcomment %}

  <article class="entry portf" style="visibility:hidden;display:none;" itemscope itemtype="http://schema.org/Blog" name="latest_articles">
    <div class="entry-wrapper">
      <header class="entry-header">
        <h1 class="entry-title" itemprop="headline">Latest Articles</h1>
      </header>
      <div class="entry-content">
        <ul class="post-list">
        {% for post in site.categories.articles limit:10 %}
          <li><article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
        {% endfor %}
        </ul>
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>
